.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12, .block13, .block14, .block15, .block16, .block17{
	border-style: solid;
        border-color: rgba(0,0,0,0.2); 
        background-color: rgba(0,0,0,0.1); 
	margin: 5px;
}
.block1, .block4, .block17 {width: 50%;}
.block14{margin: 5px 250px;}