h1{
  color:tomato;
}
.block,
{
        
        margin:10px;
        font-size: 20px;
        background-color: rgba(0,0,0,0.1);
        
}
 
.text{
     text-align: center;
}

.parent{
      border:2px dashed tomato;
}

.block2{
        border: 1px solid;
        border-color: tomato; 
	background-color: rgba(0,0,0,0.1);
}
.block3{
        border: 1px solid; 
        border-color: rgba(0, 0, 0, 0.);
        background-color: rgba(1,1,1,0.1);
        
}

.pol{
    font-family: sans-serif;
    background-color: rgba(0,0,0,0.1);
}       

a {
   text-decoration: none;
   color: #dd5735;
}
.footer img { 
       width: 70px;
       margin-top: 6px;
}
.main{
        margin:10px;
        font-size: 20px; 
         
}
cite{

        color: deepskyblue;
        font-style: normal;
}
blockquote{
        font-style: italic;

}
q{
        font-size: italic;
        quotes: '\00AB' '\00BB' '\201E' '201C';
}
.forme1{
background-color: #CCC;
}
.forme2{
background-color: #CCC;
margin: 2%;
}
.forme3{
background-color: #CCC;
padding: 1% 2%;
}
.forme4{
background-color: #CCC;
border-style: solid;
border-color: red;
border-width: 2px;
padding: 1% 2%;
}
.forme5{
background-color: #CCC;
border-style: solid;
border-color: red;
margin: 2%;
border-width: 2px;
padding: 1% 2%;
width:  60%;
}
.forme6{
background-color: #CCC;
border-style: solid;
border-color:red;
margin: 2%;
border-width: 2px;
padding: 1% 2%;
width:50%;
box-sizing: border-box;
}
